@{
    ViewData["Title"] = "About";
    ViewData["Creditos"] = "Créditos ao Curso da Udemy - C# COMPLETO Programação Orientada a Objetos + Projetos";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Creditos"]</h3>
<h3>@ViewData["Message"]</h3>

<p>Aluno @ViewData["Professor"]</p>

<address>
    <strong>More information: </strong> <a href="http://instagram.com/matheus_lucato">Instagram Lucato</a>
</address>